*{
  font-family: monospace;
}

body{
  background: #02AAB0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bmi{
  font-size: 20px;
  width: 100%;
  max-width: 400px;
  padding: 16px;
  background-color: aquamarine;
  text-align: center;
  box-shadow: 5px 10px #888888;
  border-radius: 16px;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ele{
  font-size: 15px;
  padding: 5px;
  margin: 6px;
  background-color: black;
  color: aliceblue;
  border-radius: 15px;
  border-style: none;
  transition: 1s;
  text-align: center;
  width: 300px;
}

button:hover{
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.65;
}